TS_AUTHKEY=tskey-auth-xxxxxxxxxxxxx
BARMAN_PASSWORD=barman
STREAMING_BARMAN_PASSWORD=streaming_barman
PG_HOST=postgres
BARMAN_IMAGE=ghcr.io/yewfence/pg-backup/barman:latest

HEALTH_CHECK_PORT=8000
CHECK_INTERVAL=300
FAIL_THRESHOLD=3
