POSTGRES_IMAGE=postgres:17.10
POSTGRES_NETWORK_NAME=pg-net
POSTGRES_RESTORE_VOLUME_NAME=barman-restore-postgres-data
POSTGRES_RESTORE_CONTAINER_NAME=postgres-restore
POSTGRES_RESTORE_BIND_ADDRESS=127.0.0.1
POSTGRES_RESTORE_PORT=5433
