BARMAN_IMAGE=ghcr.io/yewfence/pg-backup/barman:latest
BARMAN_CONTAINER_NAME=barman-offsite
BARMAN_VOLUME=

BARMAN_UID=1000
BARMAN_GID=1000
BARMAN_FIX_OWNERSHIP=true
POSTGRES_RESTORE_ROOT=/srv/native-docker/postgres-restore
POSTGRES_DATA_PATH=/srv/native-docker/postgres

HEALTH_CHECK_HOST=127.0.0.1
HEALTH_CHECK_PORT=8000
CHECK_INTERVAL=300
FAIL_THRESHOLD=3
