BARMAN_IMAGE=ghcr.io/yewfence/pg-backup/barman:latest
BARMAN_CONTAINER_NAME=barman-offsite
BARMAN_VOLUME=

BARMAN_UID=1000
BARMAN_GID=1000
BARMAN_FIX_OWNERSHIP=true

HEALTH_CHECK_HOST=127.0.0.1
HEALTH_CHECK_PORT=8000
CHECK_INTERVAL=300
FAIL_THRESHOLD=3

RECOVERY_CONTAINER_NAME=postgres-recovered
RECOVERY_BIND_ADDRESS=127.0.0.1
RECOVERY_PORT=5433
